[submodule "m040"]
	path = m040
	url = https://github.com/adriandarian/m040.git
[submodule "m220J"]
	path = m220J
	url = https://github.com/adriandarian/m220J.git
[submodule "m121"]
	path = m121
	url = https://github.com/adriandarian/m121.git
[submodule "m220JS"]
	path = m220JS
	url = https://github.com/adriandarian/m220JS.git
