[submodule "m040"]
	path = m040
	url = https://github.com/adriandarian/m040.git
[submodule "m220J"]
	path = m220J
	url = https://github.com/adriandarian/m220J.git
[submodule "m121"]
	path = m121
	url = https://github.com/adriandarian/m121.git
[submodule "m220JS"]
	path = m220JS
	url = https://github.com/adriandarian/m220JS.git
[submodule "m220P"]
	path = m220P
	url = https://github.com/adriandarian/m220P.git
[submodule "m103"]
	path = m103
	url = https://github.com/adriandarian/m103.git
[submodule "m310"]
	path = m310
	url = https://github.com/adriandarian/m310.git
